<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fotawesome.com/418aba2bb0.js" crossorigin="anonymus"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/85454b65e5.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="img/logo-mercado-liebre.svg" class="logo">
            <div class="searchBar">
                <form action="" method="GET">
                    <input class="barra" placeholder="Buscar en mercado liebre" type="search" id="site-search" name="q">
                    <button class="buttonbar"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>

            <h2 class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>

        <div class="burger-menu">
            <i class="fa-solid fa-bars"></i>
        </div>


        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
                </li>
            </ul>

            <ul class="right-navbar">
                <li><a href="/register">Creá tu cuenta <i class="fa-regular fa-credit-card"></i></a></li> 
                <li><a href="#">Ingresá <i class="fa-solid fa-location-arrow"></i></a></li> 
                <li><a href="#">Mis compras <i class="fa-solid fa-cart-arrow-down"></i></a></li> 
            </ul>
        </nav>

    </header>

    <div>
        <img class="imagenHome" src="img/img-home-banner.jpg" alt="Imagen de mercado pago">
    </div>

    <section>
        <article class="producto">
            <img src="img/img-macbook-pro-2019.jpg" alt="Imagen de macbook pro">"
            <div>
            <li class="nombre">Macbook Pro 2019</li>
            <li class="precio">$1.000.000</li>
            <li class="descuento">5% off</li>    
        </article>
        <article class="producto">
            <img src="img/img-cafetera-moulinex.jpg" alt="Imagen de cafetera">
            <div>
                <li class="nombre">Cafetera Nespresso Dolce Gusto</li>
                <li class="precio">$50.000</li>
                <li class="descuento">15% off</li>  
            </div>
        </article>
        <article class="producto">
            <img src="img/img-samsung-galaxy-s10.jpg" alt="Imagen de Samsung Galaxy">
            <div>
                <li class="nombre">Samsung Galaxy S10</li>
                <li class="precio">$100.000</li>
                <li class="descuento">15% off</li>  
            </div>
        </article>
        <article class="producto">
            <img src="img/img-tv-samsung-smart.jpg" alt="Imagen de Samsung Smart">
            <div>
                <li class="nombre">Samsung Smart TV</li>
                <li class="precio">$150.000</li>
                <li class="descuento">10% off</li>  
            </div>
        </article>
    </section>

    </main>

    <footer>
        <div class="pie-de-pagina">
        <div class="parrafo-pie-pagina">
            <p class="titulo">Paga con tarjeta o en efectivo</p>
            <p class="parrafo">Con MercadoLibreCash tenes cuotas sin interes con tarjeta 
                o en efectivo en puntos de pago. Y siempre es seguro!</p>
        </div>
        <div class="pie-de-pagina">
        <div class="parrafo-pie-pagina">
            <p class="titulo">Envio gratis desde los $2500</p>
            <p class="parrafo">Solo por estar registrado en Mercado Liebre tenes envios gratis en miles de productos. 
                Es un beneficio de Mercado Puntos.</p>
        </div>
        <div class="pie-de-pagina">
        <div class="parrafo-pie-pagina">
            <p class="titulo">Seguridad de principio a fin</p>
            <p class="parrafo-pie-pagina">No te gusta? Devolvelo! 
                En Mercado Liebre no hay nada que no puedas hacer 
                porque estas siempre protegid@</p>
        </div>
        </div>
    
        <div class="Copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
    
</body>
</html>