<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fotawesome.com/418aba2bb0.js" crossorigin="anonymus"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/85454b65e5.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="img/logo-mercado-liebre.svg" class="logo">
            <h2 class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>

        <a href="#" class="navbar-button">
            <i class="fa-solid fa-bars"></i>
        </a>


        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
                </li>
            </ul>

            <ul class="right-navbar">
                <li><a href="#">Creá tu cuenta <i class="fa-regular fa-credit-card"></i></a></li> 
                <li><a href="#">Ingresá <i class="fa-solid fa-location-arrow"></i></a></li> 
                <li><a href="#">Mis compras <i class="fa-solid fa-cart-arrow-down"></i></a></li> 
    

    </header>

    

    <div>
        <img width="800" height="200" src="img/img-home-banner.jpg" alt="Imagen de mercado pago">
    </div>

    <section>
        <article class="producto">
            <img src="img/img-macbook-pro-2019.jpg" alt="Imagen de macbook pro">"
            <h2>Macbook Pro 2019</h2>
            <p class="precio1">$1.000.000</p>
        </article>
        <article class="producto">
            <img src="img/img-samsung-galaxy-s10.jpg" alt="Imagen de samsung galaxy">
            <h2>Samsung Galaxy S10</h2>
            <p class="precio2">$90.000</p>
        </article>
        <article class="producto">
            <img src="img/img-cafetera-moulinex.jpg" alt="Imagen de cafetera">
            <h2>Cafetera Nespresso Dolce Gusto</h2>
            <p class="descuento3">15% off</p>
            <p class="precio3">$50.000</p>
        </article>
        <article class="producto">
            <img src="img/img-tv-samsung-smart.jpg" alt="Imagen de samsung smart">
            <h2>Samsung Smart TV</h2>
            <p class="descuento4">10% off</p>
            <p class="precio4">$150.000</p>
        </article>
    </section>

    </main>

    <footer>
        <section class="section1">
            <h2>Paga con tarjeta o en efectivo</h2>
            <h3>Con MercadoLibreCash tenes cuotas sin interes con tarjeta o en efectivo en puntos de pago</h3>
                    Y siempre es seguro!
        </section>
        <section class="section2">
            <h2>Envio gratis desde los $2500</h2>
            <h3>Solo por estar registrado en Mercado Liebre tenes envios gratis en miles de productos. 
                Es un beneficio de Mercado Puntos.</h3>
        </section>
        <section class="section3">
            <h2>Seguridad de principio a fin</h2>
            <h3>No te gusta? Devolvelo! 
                En Mercado Liebre no hay nada que no puedas hacer potque estas siempre protegid@</h1>
            </h3>
        </section>
    
        <div class="Copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
    
</body>
</html>