<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img src="img-cafetera-moulinex.jpg" alt="Imagen de cafetera">
    <img src="img-home-banner.jpg" alt="Imagen de mercado pago">
    <img src="img-macbook-pro-2019.jpg" alt="Imagen de macbook pro">
    <img src="img-samsung-galaxy-s10.jpg" alt="Imagen de samsung galaxy">
    <img src="img-tv-samsung-smart.jpg" alt="Imagen de samsung smart">
    <img src="logo-mercado-liebre.svg" alt="Imagen de logo de mercado libre">
</body>
</html>